<div class="page-header">
  <div class="title">
    <h1>Image Processing Project</h1>
    <h3>Please select an image to continue (supported images types: png, jpg, jpeg, tif, tiff):</h3>
  </div>
  <div class="action-group">
    <input type="file" name="file" id="file" accept="image/x-png,image/jpeg,image/tif,image/tiff" (change)="onFileChanged($event)" #fileInput>
    <button type="button" class="btn-select" (click)="fileInput.click()">Select File</button>
    <button type="button" class="btn-select" (click)="onSaveImage(url)" *ngIf="url">Save Image</button>
    <div class="history-wrapper dropdown">
      <div class="title">History</div>
      <div class="dropdown-content">
        <ul *ngIf="history && history.length > 0; else noHistoryTemplate">
          <li *ngFor="let item of history" [class]="{ 'active': item === selectedHistoryItem }" (click)="onRevertUrl(item)">{{ item.name }}</li>
        </ul>
        <ng-template #noHistoryTemplate>
          <p>No Action Yet</p>
        </ng-template>

      </div>
    </div>
  </div>
</div>
<div class="image-container">
  <div class="image-wrapper">
    <img [src]="url" id="uploadedImage" draggable="false" #imageOutput>
    <div id="drawCanvas" [hidden]="selectedTool !== 'crop' && selectedTool !== 'printText'" #drawCanvas></div>
  </div>
  <div class="toolbars">
    <h3>Tools</h3>
    <div class="tool-item" (click)="selectTool('resize')" [ngClass]="{'active': selectedTool === 'resize'}">Resize</div>
    <div class="tool-item" (click)="selectTool('blur')" [ngClass]="{'active': selectedTool === 'blur'}">Blur</div>
    <div class="tool-item" (click)="selectTool('invert')" [ngClass]="{'active': selectedTool === 'invert'}">Invert</div>
    <div class="tool-item" (click)="selectTool('flip')" [ngClass]="{'active': selectedTool === 'flip'}">Flip</div>
    <div class="tool-item" (click)="selectTool('contrast')" [ngClass]="{'active': selectedTool === 'contrast'}">Contrast</div>
    <div class="tool-item" (click)="selectTool('greyscale')" [ngClass]="{'active': selectedTool === 'greyscale'}">Greyscale</div>
    <div class="tool-item" (click)="selectTool('opacity')" [ngClass]="{'active': selectedTool === 'opacity'}">Opacity</div>
    <div class="tool-item" (click)="selectTool('scale')" [ngClass]="{'active': selectedTool === 'scale'}">Scale</div>
    <div class="tool-item" (click)="selectTool('rotate')" [ngClass]="{'active': selectedTool === 'rotate'}">Rotate</div>
    <div class="tool-item" (click)="selectTool('printText')" [ngClass]="{'active': selectedTool === 'printText'}">Print Text</div>
    <div class="tool-item" (click)="selectTool('sepia')" [ngClass]="{'active': selectedTool === 'sepia'}">Sepia</div>
    <!-- <div class="tool-item" (click)="selectTool('posterize')" [ngClass]="{'active': selectedTool === 'posterize'}">Posterize</div> -->
    <div class="tool-item" (click)="selectTool('crop')" [ngClass]="{'active': selectedTool === 'crop'}">Crop</div>
    <div class="tool-item" (click)="selectTool('convolute')" [ngClass]="{'active': selectedTool === 'convolute'}">Convolution</div>
  </div>
  <div class="options-container" *ngIf="selectedTool">
    <h3>Options</h3>
    <div class="option-wrapper">
      <!-- printText -->
      <div class="resize-options" *ngIf="shouldShowOption('printText', selectedTool)">
        <div class="form-group">
          <label for="text">Text</label>
          <input type="text" id="text" [(ngModel)]="formData.text">
        </div>
        <div class="form-group">
          <label for="fontSize">Font Size</label>
          <select name="fontSize" id="fontSize" [(ngModel)]="formData.fontSize">
            <option value="FONT_SANS_8">8</option>
            <option value="FONT_SANS_16">16</option>
            <option value="FONT_SANS_32">32</option>
            <option value="FONT_SANS_64">64</option>
            <option value="FONT_SANS_128">128</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fontColor">Color</label>
          <select name="fontColor" id="fontColor" [(ngModel)]="formData.fontColor">
            <option value="BLACK">Black</option>
            <option value="WHITE">White</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Position X</label>
          <input type="number" [(ngModel)]="formData.positionX">
        </div>
        <div class="form-group">
          <label for="">Position Y</label>
          <input type="number" [(ngModel)]="formData.positionY">
        </div>
        <pre>Note: X and Y is the starting coordinate place the text</pre>
        <pre>Tips: You're able to click image to draw a rectangle that will help to autofill the value of position x, and position y.</pre>
      </div>
      <!-- crop -->
      <div class="resize-options" *ngIf="shouldShowOption('sizeWithPosition', selectedTool)">
        <div class="form-group">
          <label for="">Width</label>
          <input type="number" [(ngModel)]="formData.width">
        </div>
        <div class="form-group">
          <label for="">Height</label>
          <input type="number" [(ngModel)]="formData.height">
        </div>
        <div class="form-group">
          <label for="">Position X</label>
          <input type="number" [(ngModel)]="formData.positionX">
        </div>
        <div class="form-group">
          <label for="">Position Y</label>
          <input type="number" [(ngModel)]="formData.positionY">
        </div>
        <pre>Tips: You're able to click image to draw a rectangle that will help to autofill the value of height, width, position x, and position y.</pre>
      </div>
      <!-- resize -->
      <div class="resize-options" *ngIf="shouldShowOption('size', selectedTool)">
        <div class="form-group">
          <label for="">Width</label>
          <input type="number" [(ngModel)]="formData.width">
        </div>
        <div class="form-group">
          <label for="">Height</label>
          <input type="number" [(ngModel)]="formData.height">
        </div>
      </div>
      <!-- blur -->
      <!-- scale -->
      <!-- opacity -->
      <!-- contrast -->
      <div class="resize-options" *ngIf="shouldShowOption('level', selectedTool)">
        <div class="form-group">
          <label for="">Level</label>
          <input type="number" [(ngModel)]="formData.level">
        </div>
      </div>
      <!-- background -->
      <div class="resize-options" *ngIf="shouldShowOption('color', selectedTool)">
        <div class="form-group">
          <label for="">Color</label>
          <input type="text" [(ngModel)]="formData.color" placeholder="Please enter hex color code, i.e. 000000, FFFFFF">
        </div>
      </div>
      <!-- rotate -->
      <div class="resize-options" *ngIf="shouldShowOption('degree', selectedTool)">
        <div class="form-group">
          <label for="">Degree</label>
          <input type="number" [(ngModel)]="formData.degree">
        </div>
      </div>
      <!-- convolute -->
      <div class="resize-options" *ngIf="shouldShowOption('convolution', selectedTool)">
        <div class="form-group">
          <label for="">Type</label>
          <select class="form-control" [(ngModel)]="formData.type">
            <option [ngValue]="'lowpass'">Low-Pass Filter</option>
            <option [ngValue]="'highpass'">High-Pass Filter</option>
            <option [ngValue]="'directional'">Directional Filter</option>
            <option [ngValue]="'laplacian'">Laplacian Filter</option>
          </select>
        </div>
      </div>
      <!-- flip -->
      <div class="resize-options" *ngIf="shouldShowOption('flip', selectedTool)">
        <div class="form-group">
          <label for="flipHorizontal" class="checkbox-group">
            <input type="checkbox" name="flipHorizontal" id="flipHorizontal" value="horizontal" [(ngModel)]="formData.flipHorizontal">
            <span>Flip Horizontal</span>
          </label>
        </div>
        <div class="form-group">
          <label for="flipVertical" class="checkbox-group">
            <input type="checkbox" name="flipVertical" id="flipVertical" value="horizontal" [(ngModel)]="formData.flipVertical">
            <span>Flip Vertical</span>
          </label>
        </div>
      </div>
    </div>
    <button type="button" class="btn-process" (click)="onSubmit(formData, selectedTool, url)" [disabled]="!url">Process</button>
    <pre *ngIf="!url">Please select an image first!</pre>
  </div>
</div>
<div class="error" *ngIf="error">
  <pre>{{ error | json}}</pre>
</div>
<div class="page-loading" *ngIf="onLoading">
  <div class="overlay"></div>
  <div>Image is Processing...</div>
</div>
