.page-header {
  height: 150px;
  padding: 0 20px;
  input[type="file"] {
    display: none;
  }

  .btn-select {
    background-color: #999;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #e1e1e1;
    font-weight: bold;
    box-shadow: 2px 2px 10px 0 #999;
    cursor: pointer;
    margin-right: 15px;
  }
}

.image-container {
  display: flex;
  flex-direction: row;
  padding: 20px;

  .image-wrapper {
    width: calc(100% - 500px);
    max-width: calc(100% - 500px);
    min-height: 50%;
    border: 1px solid #333;
    background-color: #fafafa;
    img {
      align-self: baseline;
      max-width: 100%;
    }
  }

  .toolbars {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    align-items: stretch;
    text-align: center;
    width: 150px;

    .tool-item {
      cursor: pointer;
      background-color: #999;
      color: #fff;
      padding: 10px 5px;
      border-radius: 5px;
      font-weight: bold;
      margin-bottom: 10px;

      &.active {
        background-color: #07f;
      }
    }
  }

  .options-container {
    border: 1px solid #333;
    width: 300px;
    padding: 10px;

    .option-wrapper {
      margin: 5px 0;

      .form-group {
        margin-bottom: 10px;
        input:not([type="checkbox"]) {
          width: 100%;
        }
        .checkbox-group {
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
        }
      }
    }

    .btn-process {
      background-color: #07f;
      color: #fff;
      padding: 10px 20px;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #999;
        color: #333;
        cursor: not-allowed;
      }
    }
  }
}
